<p id="notice">
    <%= notice %>
</p>
 <h3>All users of Samrt Bank</h3>



<div class="container">
    <div class="row">
     <% if user_signed_in?%>
        <h1>Hello Welocome !!</h1><br>
        <%# <div class="action col-sm-8 col-md-offset-2"> %>
            <%= link_to "New User" ,new_user_path , class: "btn btn-primary " %>
           
        <%# </div> %><br><br>
   
        <div class="container">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                         <th scope="col">Phone</th>
                          <th scope="col">Account Id</th>
                          <th>Account Status </th>
                           
                        <%# <th scope="col">Age</th> %>
                        <th colspan="2">Action</th>

                    </tr>
                </thead>

                 <% if current_user.admin?%>
               
                <% @users.all.each do |user|%>
                    <tbody>
                        <tr>

                            <td>
                                <%= link_to user.name , user_path(user)%>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.role%>
                            </td>
                            <td>
                                <%= user.phone%>
                            </td>
                          
                            <td>
                            /    <%= user.account.id %>
                            </td>
                            
                            <td>
                                 <%= link_to "Edit" ,edit_user_registration_path(user), class: "btn btn-primary" %>
                            </td>
                            <td>
                               <%= link_to "Delete" ,user_path(user) , method: :delete  , class: "btn btn-danger" %>
                           
                            </td>
                            </tr>
                             </tbody>
                          <%end%>

                        <%else %>
                             
                             <tbody>
                        <tr>

                            <td>
                                <%= link_to @user.name , user_path(@user)%>
                            </td>
                            <td>
                                <%= @user.email %>
                            </td>
                            <td>
                                <%= @user.role%>
                            </td>
                            <td>
                                <%= @user.phone%>
                            </td>
                          
                            <td>
                           
                                <%= @user.account.id %>
                            </td>

                            <td>
                           
                                <%= @user.account.acc_status %>
                            </td>
                            
                            
                            <td>
                                <%= link_to "Fill details" , new_account_path, class: "btn btn-success" %>
                            
                                 <%= link_to "Edit" , edit_user_path(@user), class: "btn btn-primary" %>
                            
                            
                               <%= link_to "Delete" ,user_path(@user) , method: :delete  , class: "btn btn-danger" %>
                           
                            </td>
                            </tr>
                             </tbody>

                             


    <%end %>

            </table>
        </div>
<%end%>
    </div>
</div>