<p id="notice"><%= notice %></p>

<div class = "container border border-primary p-5">
<h3>User Created with is below information<h3>
<h4 class ="border-bottom">Check User Record </h4><br>
<p>
  <strong>Name:</strong>
  <%# <% debugger%> 
  <%= @user.name %>
</p>

 <p>
   <strong>Role:</strong>
  <%= @user.role %>
 </p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Aadhar:</strong>
  <%= @user.aadhar %>
</p>

<p>
  <strong>Balance : </strong>
  <%= @user.balance %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>



<%= link_to 'Deposite',  new_transaction_path%>

<%= link_to 'WtihDraw', withdraw_path(@user.account.id)%>


</div>